.signIn_container {
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/images/SignIn.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;

  display: flex;
  justify-content: space-around;
  align-items: end;

  .signIn_signUp_button {
    margin-right: 120px;

    button {
      color: white;
    }
    button:hover {
      border: 1px solid red;
      box-shadow: 1px 1px 1px 1px #f0552f;
    }
  }
}

.signIn_form {
  color: $main-color;
  margin-right: 120px;

  display: flex;
  gap: 62px;
  flex-direction: column;

  h1 {
    font-family: "Berkshire Swash", cursive;
    font-size: 5.5rem;
    word-spacing: 5px;
    margin-block-end: 0.1em;
    text-shadow: 2px 2px #f0552f;
  }
  .signIn_inputs {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    .signIn_error {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;

      height: 30px;
      text-shadow: 2px black;
      position: absolute;
    }
    form {
      text-align: right;
      button {
        color: white;
        margin-top: 5px;
      }
      button:hover {
        border: 1px solid red;
        box-shadow: 1px 1px 1px 1px #f0552f;
      }
    }
    input {
      margin-bottom: 10px;
      border: 1px solid $main-color;
      height: 30px;
      width: 200px;
    }
  }
}

input:focus::placeholder {
  color: $main-color;
}

input:focus {
  outline: 2px solid $main-color;
}
