.grid_button_blue {
  background-color: blue;
  color: white;
}

.grid_button_red {
  background-color: red;
  color: white;
}

.grid_button_green {
  background-color: green;
  color: white;
}

.grid_button_yellow {
  background-color: #f7f717;
  color: black;
}
